asgiref==3.6.0
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==3.1.0
Django==4.2
django-environ==0.10.0
idna==3.4
Naked==0.1.32
paytmchecksum==1.7.0
Pillow==9.5.0
pycryptodome==3.17
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0
razorpay==1.3.0
requests==2.29.0
shellescape==3.8.1
sqlparse==0.4.4
tzdata==2023.3
urllib3==1.26.15
